<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.imaotai.mapper.UserMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.wf.imaotai.entity.User">
        <id property="id" column="id" />
        <result property="content" column="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 查询所有用户 -->
    <select id="getList" resultType="com.wf.imaotai.entity.User">
        SELECT *
        FROM imaotai_user
        WHERE 1 = 1
        <if test="mobile != null and mobile != ''">
            and mobile > #{mobile}
        </if>
        ORDER BY imaotai_user.create_time DESC
    </select>

    <insert id="insertUser" parameterType="com.wf.imaotai.entity.User">
        INSERT INTO imaotai_user(
                id,
                 mobile,
                 name,
                 token,
                 cookie,
                 device_id,
                 shop_id,
                 item_code,
                 province_name,
                 city_name,
                 district_name,
                 lat,
                 lng,
                 expire_time,
                 minute,
                 appointment_type,
                 appointment_time_type,
                 create_time,
                 json_result
                 )
            VALUES(#{id},
                   #{mobile},
                   #{name},
                   #{token},
                   #{cookie},
                   #{deviceId},
                   #{shopId},
                   #{itemCode},
                   #{provinceName},
                   #{cityName},
                   #{district_name},
                   #{lat},
                   #{lng},
                   #{expireTime},
                   #{minute},
                   #{appointmentType},
                   #{appointmentTimeType},
                   #{createTime},
                   #{jsonResult}
                   )
    </insert>

    <update id="updateUser" parameterType="com.wf.imaotai.entity.User">
        UPDATE imaotai_user SET
            id = #{id},
            name = #{name},
            token = #{token},
            cookie = #{cookie},
            device_id = #{deviceId},
            shop_id = #{shopId},
            item_code = #{itemCode},
            province_name = #{provinceName},
            city_name = #{cityName},
            district_name= #{districtName},
            lat = #{lat},
            lng = #{lng},
            expire_time = #{expireTime},
            minute = #{minute},
            appointment_type = #{appointmentType},
            appointment_time_type = #{appointmentTimeType},
            update_time = #{updateTime}
            WHERE mobile = #{mobile}
    </update>
</mapper>