<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.imaotai.mapper.ShopMapper">

    <!-- 结果映射 -->
    <resultMap id="shopResultMap" type="com.wf.imaotai.entity.Shop">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <!-- 查询所有用户 -->
    <select id="getList1" resultType="com.wf.imaotai.entity.Shop">
        SELECT *
        FROM imaotai_shop
    </select>

</mapper>